.patient-form {
  
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-field,
.textarea-field,
.select-field {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: bisque;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 5px;
}

.submit-button {
  background-color: tan;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: darkorange;
}
